<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VIPER_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D12A6CBB1FE017BC008A58BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D12A6CD61FE017BD008A58BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D12A6CE11FE017BD008A58BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
